body{
    background: url("/images/Hydrogen.jpg");
    position: relative;
    height: 100vh;
}
#open-btn{
    position: absolute;
    top: 70%;
    left: 10%;
    width: 350px;
    height: 80px;
    font-size: 1.5rem;
    background: transparent;
    color: #fff;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 0 3px black;
    transition: .5s;
}

#open-btn:hover{
    background-color: #fff;
    color: #000;
}

#modal{
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 100px;
    padding:10px 20px;
}